[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask ~= "1.1.2"
requests ~= "2.25.1"
python-dateutil ~= "2.8.1"
google-api-python-client ~= "1.12.8"
google-auth-oauthlib ~= "0.4.2"
google-auth-httplib2 ~= "0.0.4"
httplib2shim ~= "0.0.3"

[dev-packages]

[requires]
python_version >= "3.7"
